body {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle at bottom, #5a44d1 0%, #0e0b1b 80%);
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
}

.feed {
    min-height: 100vh;
    max-width: 35em;
    display: flex;
    flex-direction: column;
    /* background-color: #3f3f3f; */
    align-items: center;
    width: 100%;
    margin-top: 5em;
}

.a_link {
    background-color: #2a3b67;
    /* box-shadow: 0px 0px 5px 0px #325b91; */
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-size: 3em;
    text-decoration: unset;
    color: white;
}

.a_link:hover {
    background-color: #1b2131;
}
